#header {
    background: #008040;
    color: white;
}
.wrapper {
    margin-bottom: 30px;
}
* {
    box-sizing: border-box;
}
.center {
    width: 840px;
    padding: 10px;
    margin: 0 auto;
}
* {
    box-sizing: border-box;
}
#header h1 {
    font-size: 35px;
    margin-bottom: 7px;
    text-align: center;
}
body, p, h1, h2, ul, ol {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#header {
    background: #008040;
    color: white;
}
body {
    font-family: Arial;
}
#header p {
    font-size: 21px;
    margin-bottom: 5px;
    text-align: center;
}
.wrapper p, .wrapper li {
    margin-bottom: 10px;
    text-align: justify;
    font-size: 16px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#services {
    background-color: white;
}
.wrapper {
    margin-bottom: 30px;
}
* {
    box-sizing: border-box;
}
div {
    display: block;
}
.wrapper h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 27px;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
* {
    box-sizing: border-box;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.wrapper li {
    list-style-position: inside;
}

.wrapper p, .wrapper li {
    margin-bottom: 10px;
    text-align: justify;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ol {
    list-style-type: decimal;
}
body {
    font-family: Arial;
}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
#contacts {
    background-color: #C60304;
    color: white;
}
.wrapper {
    margin-bottom: 30px;
}
* {
    box-sizing: border-box;
}
div {
    display: block;
}
.center {
    width: 840px;
    padding: 10px;
    margin: 0 auto;
}


* {
    box-sizing: border-box;
}

div {
    display: block;
}

#contacts {
    background-color: #C60304;
    color: white;
}
.wrapper h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 27px;
}

body, p, h1, h2, ul, ol {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#contacts {
    background-color: #C60304;
    color: white;
}
#contacts p {
    text-align: center;
}

.wrapper p, .wrapper li {
    margin-bottom: 10px;
    text-align: justify;
    font-size: 16px;
}

body, p, h1, h2, ul, ol {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#contacts {
    background-color: #C60304;
    color: white;
}
#company {
    background-color: white;
}

.wrapper {
    margin-bottom: 30px;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}
.center {
    width: 840px;
    padding: 10px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}
.wrapper h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 27px;
}

body, p, h1, h2, ul, ol {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.wrapper p, .wrapper li {
    margin-bottom: 10px;
    text-align: justify;
    font-size: 16px;
}

body, p, h1, h2, ul, ol {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#footer {
    padding-top: 100px;
    background: #FF8040;
    color: white;
    text-align: center;
    font-size: 13px;
}

.wrapper {
    margin-bottom: 30px;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

.center {
    width: 840px;
    padding: 10px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

#footer {
    padding-top: 100px;
    background: #FF8040;
    color: white;
    text-align: center;
    font-size: 13px;
}
